@font-face {
  font-family: 'DarkInkDropFriends';
  src:  url('fonts/DarkInkDropFriends.eot?hp2226');
  src:  url('fonts/DarkInkDropFriends.eot?hp2226#iefix') format('embedded-opentype'),
    url('fonts/DarkInkDropFriends.ttf?hp2226') format('truetype'),
    url('fonts/DarkInkDropFriends.woff?hp2226') format('woff'),
    url('fonts/DarkInkDropFriends.svg?hp2226#DarkInkDropFriends') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DarkInkDropFriends' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 200px;
  color:#140434;
}

.icon-a:before {
  content: "\e900";
}
.icon-b:before {
  content: "\e901";
}
.icon-c:before {
  content: "\e902";
}
.icon-d:before {
  content: "\e903";
}
.icon-e:before {
  content: "\e904";
}
.icon-f:before {
  content: "\e905";
}
.icon-g:before {
  content: "\e906";
}
.icon-h:before {
  content: "\e907";
}
.icon-i:before {
  content: "\e908";
}
.icon-j:before {
  content: "\e909";
}
.icon-k:before {
  content: "\e90a";
}
.icon-l:before {
  content: "\e90b";
}
.icon-m:before {
  content: "\e90c";
}
.icon-n1:before {
  content: "\e90d";
}
.icon-n:before {
  content: "\e90e";
}
.icon-o:before {
  content: "\e90f";
}
.icon-p:before {
  content: "\e910";
}
.icon-q:before {
  content: "\e911";
}
.icon-r:before {
  content: "\e912";
}
.icon-s:before {
  content: "\e913";
}
.icon-t:before {
  content: "\e914";
}
.icon-u:before {
  content: "\e915";
}
.icon-w:before {
  content: "\e916";
}
.icon-x:before {
  content: "\e917";
}
.icon-y:before {
  content: "\e918";
}
.icon-z:before {
  content: "\e919";
}
